
li
{
    border:1px solid black;
    width:230px;
    background-color: rgb(254, 254, 255);
    margin-left: 0px;
}
.up
{
    background-color: rgb(255, 204, 127);
}
.down
{
    background-color: rgb(211, 245, 62);
}
.del
{
    background-color: rgb(247, 116, 116);
}
.del:hover{
    background-color: rgb(202, 20, 20);
    color:white;
}
.add
{
    background-color: rgb(28, 211, 89);
}
.add:hover
{
    background-color: rgb(14, 163, 64);
    color:white;
}

.wid
{
    width:300px;
}
.border
{
    border:1px solid black;
    margin-left: 300px;
    width:300px;
    margin-top: 50px;;
    background-color:rgb(255, 236, 173) ;
    background-image: linear-gradient(rgb(199, 225, 243),rgb(252, 161, 237));
   
}
h1{
    text-align: center;

}
.text
{
    padding-left: 100px;
}
